/* Basic */
@import url("https://use.typekit.net/ovt6ynt.css");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Spectral:wght@200;300;400;500;600;700;800&display=swap");


.wrapper.pre {
  background-size: cover !important;
  position: absolute;
  top: 0;
  z-index: -2;
  opacity: 0.75;
}

.container {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  margin: auto;
}

.tabs {
  text-align: left;
  position: relative;
}

.tabs .tab {
  margin: 0px auto;
  transition: color 0.3s;
  text-align: center;
  border: none;
  color: rgb(117, 117, 117);
  display: inline-flex;
  justify-content: center;
  padding: 5pt 10pt;
  vertical-align: top;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
  text-decoration: none;
}

.tabs .tab.active {
  color: #1c3a6a;
}

.tab {
  position: relative;
  z-index: 10;
}

.glider {
  height: 36px;
  border-radius: 4px;
  position: absolute;
  background: #1c3a6a0d;
  transition: all 0.3s;
  top: 0px;
  z-index: 2;
  transform: translateX(0);
}
