
.select2-selection__rendered {
    color: #1c3a6a !important;
}


.text-justify {
    text-align: justify;
}

th {
    border: 1px solud #dfdfdf;
}

table > thead > tr:nth-child(1) > th {
    position: sticky !important;
    top: 0 !important;
    z-index: 2 !important;
}

table > thead > tr:nth-child(2) > th {
    position: sticky !important;
    top: 65px !important;
    z-index: 2 !important;
    background-color: #f8f8f8;
}


@keyframes gradientMove {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
  
  .fade-in {
    height: 10px;
    border-radius: 10px;
    background: linear-gradient(90deg, #eeeeee 25%, #dfdfdf 50%, #eeeeee 75%);
    background-size: 200% 100%;
    animation: gradientMove 2s linear infinite;
  }
  
  .fade-in:nth-of-type(2) {
    animation-delay: 1s;
  }
  

  @keyframes slideIn {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .slide-animation {
    animation: slideIn 1s ease-in-out;
  }
  
  .slide-animation:nth-of-type(2) {
    animation-delay: 0.5s;
  }

  .slide-up {
    animation: slideUp 1s ease-in-out;
  }


  .search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.custom-search-icon.ki-duotone.ki-magnifier {
    position: absolute;
    left: 10px;
    font-size: 16px;
    color: #ccc;
    pointer-events: none;
}

.search-click {
    border: none;
    outline: none;
    border-radius: 6px;
    width: 36px;
    padding: 5px;
    padding-left: 35px;
    transition: width 0.5s;
    opacity: 0;
}

.search-container {
    border: 1px solid #dbdfe9;
    border-radius: 6px;
    width: 40px;
    transition: width 0.5s, border-color 0.5s;
}

.search-click:focus {
    width: 100%; /* Full width for the input */
    opacity: 1; /* Show the input text on focus */
}

.search-container:focus-within {
    width: 300px; /* Expand the container width on input focus */
    border-color: #007bff; /* Change border color on focus */
}


.text-secondary-main {
  color: #1c3a6a !important;
}

.bg-secondary-main {
  background: #1c3a6a !important;
}

.bg-secondary-light {
  background: #E9ECF1;
}

.bg-primary-light-20 {
  background: #D7EFF8 !important;
}

.flex-shrink-0 {
  flex-shrink: 0;
}