
:root {
    --bs-text-gray-900: #071437
}


.text-gray-900 {
    color: var(--bs-text-gray-900) !important
}

.fw-bold {
    font-weight: 600 !important
}

.my-1 { 
    margin-top: .25rem !important;
}

fs-2 { 
    font-size: calc(1.275rem + .3vw) !important
}

